# -----------------------------
# Example of .env file
# 
# Copy this file to .env and fill in the values
# This file is used as example and should not be used in production
# -----------------------------

# Application configuration
APP_TOKEN=""
APP_CLIENT_ID=""

# Database configuration
DATABASE_URL="mysql://johndoe:randompassword@localhost:3306/mydb"